<h3>My Todos</h3>
<div>
    <form [formGroup]="todoForm" (submit)="onAdd()">
        <input type="text" class="form-group" formControlName="newTodo" />
        <span class="mx-2">
            <p-button label="Add" type="submit"></p-button>
        </span>
    </form>
</div>
<div class="my-2">
    <p-listbox [options]="(todos$|async)||[]" [(ngModel)]="selectedTodo" optionLabel="text"
        (onChange)="onTodoSelect()"></p-listbox>

    <div class="my-2">
        <p-button label="Complete" *ngIf="!!selectedTodo" (onClick)="onComplete()"></p-button>
    </div>
</div>