<h3>My Todos</h3>
<div>
    <input type="text" pInputText [(ngModel)]="newTodo" />
    <span class="mx-2">
        <p-button label="Add" (onClick)="onAdd()" [disabled]="!newTodo"></p-button>
    </span>
</div>
<div class="my-2">
    <p-listbox [options]="(todos$|async)||[]" [(ngModel)]="selectedTodo" optionLabel="text"
        (onChange)="onTodoSelect()"></p-listbox>

    <div class="my-2">
        <p-button label="Complete" *ngIf="!!selectedTodo" (onClick)="onComplete()"></p-button>
    </div>
</div>